<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/loggedInHeader'); %>
</header>

<main>
    <% posts.map(post => { %>
      <div style="padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #333333;">
        <ul style="list-style: none;">
          <li><h4><%= post.title %></h4></li>
          <li><%= post.content %></li>
          <li>投稿者: <%= post.name %></li>
          <li>☆</li>
          <% if (currentUser.id === post.authorId) { %>
            <button><a href="/edit/<%= post.id %>">編集</a></button>
            <form action="/delete/<%= post.id %>" method="post">
              <input type="submit" value="削除">
            </form>
          <% } %>
        </ul>
      </div>
    <% }); %>
</main>

</body>
</html>

