<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="container">

<header>
    <%- include('../partials/loggedInHeader'); %>
</header>

<main>
    <% posts.map(post => { %>
      <div style="padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #333333;">
        <ul style="list-style: none;">
          <li><h4><%= post.title %></h4></li>
          <li><%= post.content %></li>
          <li>投稿者: <%= post.name %></li>
            <% const checkFavo = currentUser.posts.find(e => e.postId === post.id) %>
            <% if (!checkFavo) { %>
            <form action="/favorite/<%= post.id %>" method="post">
              <button type="submit" style="border: none; background: transparent; outline: none;"><i class="far fa-heart"></i></button>
              <%= post["users"].length %>
            </form>
            <% } else { %>
            <form action="/favorite/<%= post.id %>?_method=DELETE" method="post">
              <button type="submit" style="border: none; background: transparent; outline: none;"><i class="fas fa-heart"></i></button>
              <%= post["users"].length %>
            </form>
            <% } %>
          <% if (currentUser.id === post.authorId) { %>
            <form action="/posts/<%= post.id %>" method="get">
              <input type="submit" value="編集">
            </form>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
              <input type="submit" value="削除">
            </form>
          <% } %>
        </ul>
      </div>
    <% }); %>
</main>

</body>
</html>

